<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="cell_same" value="same" />
  <xacro:property name="cell_top" value="top" />
  <xacro:property name="cell_left" value="left" />
  <xacro:property name="cell_right" value="right" />
  <xacro:property name="cell_on_base" value="cell_on_base" />
  
  <xacro:macro name="get_cell_origin" params="pose">
    <xacro:if value="${pose == cell_same}">
      <xacro:property name="cell_shift" value="0.0 0.0 0.0" />
    </xacro:if>

    <xacro:if value="${pose == cell_top}">
      <xacro:property name="cell_shift" value="0.0 ${cell_z_size} 0.0" />
    </xacro:if>

    <xacro:if value="${pose == cell_left}">
      <xacro:property name="cell_shift" value="${cell_x_size} 0.0 0.0" />
    </xacro:if>

    <xacro:if value="${pose == cell_right}">
      <xacro:property name="cell_shift" value="-${cell_x_size} 0.0 0.0"/>
    </xacro:if>

    <xacro:if value="${pose == cell_on_base}">
      <xacro:property name="cell_shift" value="0.0 ${cell_base_z_size} 0.0" />
    </xacro:if>

    <origin rpy="0.0 0.0 0.0" xyz="${cell_shift}"/>
  </xacro:macro>
</robot>
